    # ignore generated gcode and stl and 3mf files
    *.gcode
    *.stl
    *.3mf

# ignore graphic files
*.gif
*.jpeg
*.jpg
*.png

# ignore compressed files
*.zip
*.tar
*.rar

    # except foo.html which is maintained by hand
